*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #EEEEEE;
}
#root{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#add-button{
  width: 10%;
  min-height: 2rem;
  font-size: 1rem;
  background-color:skyblue;
  color:white;
  border:none;
  font-weight: bold;
  border-left: none;
}
#add-button:hover{
  cursor: pointer;
  background-color: white;
  color: skyblue;
  font-weight: bold;
  border: 2px solid skyblue;
  border-left: none;
}